.border{
  padding:5px;
  margin:5px;
  border:10px solid #FFB6C1
}

.border .border{
  padding:5px;
  margin:5px;
  border:7px solid rgb(112, 216, 211)
}
.border .border .border{
  padding:5px;
  margin:5px;
  border:7px solid rgb(240, 241, 129)
}
.border .border .border .border{
  padding:5px;
  margin:5px;
  border:3px solid rgb(231, 169, 250)
}

/* .App {
  text-align: center;
} */

h1 {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style:Verdana, Geneva, Tahoma, sans-serif;
  font-size:40px;
  line-height: 46px;
}
h1:hover {
  cursor:cell;
  color: #FF69B4;
}

h2{
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style:Verdana, Geneva, Tahoma, sans-serif;
}

h2:hover {
  color: rgb(112, 216, 211)
}


